
 
  <ion-view title="Home">

    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
    </ion-nav-buttons> 
    

    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

      <ion-tab title="الرئيسية" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="الاعدادات" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/settings">
        <ion-nav-view name="settings-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="خروج" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear">
      
      </ion-tab>

    </ion-tabs>
  </ion-view>